<div class="container" [formGroup]="modelParametersForm">
  <div class="row section">
    <div class="col-12 d-flex justify-content-center">
      <h1 class="m-0">Information Value Models</h1>
    </div>
  </div>

  <div class="row section">
    <div class="col-lg-7 col-sm-12">
      <h2 class="m-0">Pick Information Value Model:</h2>
      <mat-radio-group class="model-radio-group" color="primary" [formControlName]="'modelNumber'">
        <mat-radio-button class="model-radio-button" [checked]="true" [value]=1>
          1. Uniform probability distribution with random state selection.
        </mat-radio-button>
        <mat-radio-button class="model-radio-button" [checked]="false" [value]=2>
          2. Non-uniform probability distribution with random state selection.
        </mat-radio-button>
        <mat-radio-button class="model-radio-button" [checked]="false" [value]=3>
          3. Non-uniform probability distribution with most probable state selection.
        </mat-radio-button>
        <mat-radio-button class="model-radio-button" [checked]="false" [value]=4>
          4. Non-uniform probability distribution with random state selection from most probable ones.
        </mat-radio-button>
      </mat-radio-group>
    </div>

    <div class="col-lg-5 col-sm-12">
      <div class="row">
        <div class="col-12 mb-3">
          <h2 class="m-0">Set parameter <strong>k</strong> for non-uniform distribution</h2>
        </div>

        <mat-form-field class="col-lg-8 col-sm-12" appearance="fill">
          <mat-label>Distribution parameter <strong>k</strong></mat-label>
          <input matInput type="number" placeholder="k" [min]="0" [formControlName]="'distributionParameter'">
        </mat-form-field>
      </div>
    </div>
  </div>

  <div class="row section">
    <div class="col-12 mb-3">
      <h2 class="m-0">Model Parameters</h2>
    </div>

    <mat-form-field class="col-lg-3 col-sm-12" appearance="fill">
      <mat-label>Alpha</mat-label>
      <input matInput type="number" placeholder="Alpha" [min]="0" [formControlName]="'alpha'">
    </mat-form-field>

    <mat-form-field class="col-lg-3 col-sm-12" appearance="fill">
      <mat-label>Beta</mat-label>
      <input matInput type="number" placeholder="Beta" [min]="0" [formControlName]="'beta'">
    </mat-form-field>

    <mat-form-field class="col-lg-3 col-sm-12" appearance="fill">
      <mat-label>Experiments Amount</mat-label>
      <input matInput type="number" placeholder="Amount" [min]="1" [formControlName]="'experimentsAmount'">
    </mat-form-field>

    <mat-form-field class="col-lg-3 col-sm-12" appearance="fill">
      <mat-label>'Guessing' Amount</mat-label>
      <input matInput type="number" placeholder="Amount" [min]="1" [formControlName]="'guessingAmount'">
    </mat-form-field>

    <mat-form-field class="col-lg-3 col-sm-12" appearance="fill">
      <mat-label>States Amount</mat-label>
      <input matInput type="number" placeholder="Amount" [min]="1" [formControlName]="'statesAmount'">
    </mat-form-field>

    <mat-form-field *ngIf="!isRandomMessageLength" class="col-lg-3 col-sm-12" appearance="fill">
      <mat-label>User Message States</mat-label>
      <input matInput type="number" placeholder="Amount" [min]="1" [formControlName]="'userStatesAmount'">
    </mat-form-field>

    <mat-form-field *ngIf="!isRandomMessageLength" class="col-lg-3 col-sm-12" appearance="fill">
      <mat-label>Observer Message States</mat-label>
      <input matInput type="number" placeholder="Amount" [min]="1" [formControlName]="'observerStatesAmount'">
    </mat-form-field>

    <mat-form-field *ngIf="isRandomMessageLength" class="col-lg-3 col-sm-12" appearance="fill">
      <mat-label>User Message Entry Threshold</mat-label>
      <input matInput type="number" placeholder="Amount" [min]="0" [max]="1" [formControlName]="'userMessageThreshold'">
    </mat-form-field>

    <mat-form-field *ngIf="isRandomMessageLength" class="col-lg-3 col-sm-12" appearance="fill">
      <mat-label>Observer Message Entry Threshold</mat-label>
      <input matInput type="number" placeholder="Amount" [min]="0" [max]="1" [formControlName]="'observerMessageThreshold'">
    </mat-form-field>

    <mat-form-field class="col-lg-3 col-sm-12" appearance="fill">
      <mat-label>States Percent for Sub-Message</mat-label>
      <input matInput type="number" placeholder="Amount" [min]="0" [max]="100" [formControlName]="'statesPercent'">
    </mat-form-field>

    <div class="col-12">
      <button mat-raised-button (click)="onRunModelClick()">Run Model</button>

      <mat-checkbox color="primary" [formControlName]="'isRandomMessageLength'">Random Messages Length</mat-checkbox>
    </div>
  </div>

  <div class="row section">
    <div class="col-12 d-flex justify-content-between align-content-center mb-3">
      <h2 class="m-0">Result Table</h2>

      <button mat-raised-button (click)="onClearTable()">Clear Table</button>
    </div>
    <div class="col-12 grid-container">
      <ag-grid-angular
        style="width: 100%; height: 100%"
        class="ag-theme-balham"
        [columnDefs]="columnDefs"
        [defaultColDef]="defaultColDef"
        [rowData]="rowData"
        [rowSelection]="'single'"
        [animateRows]="true"
        (gridSizeChanged)="onGridSizeChanged()"
        (gridReady)="onGridReady($event)">
      </ag-grid-angular>
    </div>
  </div>
</div>
