<div class="container" [formGroup]="informationValueModelForm">
  <div class="row section">
    <div class="col-12 d-flex justify-content-center">
      <h1 class="m-0">Information Value Models</h1>
    </div>
  </div>

  <div class="row section">
    <div class="col-12">
      <h2 class="m-0">Pick Information Value Model:</h2>
      <mat-radio-group class="model-radio-group" [formControlName]="'modelNumber'">
        <mat-radio-button class="model-radio-button" [checked]="true" [value]=1>
          1. Uniform probability distribution with random state selection.
        </mat-radio-button>
        <mat-radio-button class="model-radio-button" [checked]="false" [value]=2>
          2. Non-uniform probability distribution with random state selection.
        </mat-radio-button>
        <mat-radio-button class="model-radio-button" [checked]="false" [value]=3>
          3. Non-uniform probability distribution with most probable state selection.
        </mat-radio-button>
        <mat-radio-button class="model-radio-button" [checked]="false" [value]=4>
          4. Non-uniform probability distribution with random selection from most probable states.
        </mat-radio-button>
      </mat-radio-group>
    </div>
  </div>

  <div class="row section">
    <div class="col-12 mb-3">
      <h2 class="m-0">Model Parameters</h2>
    </div>

    <mat-form-field class="col-lg-2 col-sm-12" appearance="fill">
      <mat-label>Alpha</mat-label>
      <input matInput type="number" placeholder="Alpha" [formControlName]="'alpha'">
    </mat-form-field>

    <mat-form-field class="col-lg-2 col-sm-12" appearance="fill">
      <mat-label>Beta</mat-label>
      <input matInput type="number" placeholder="Beta" [formControlName]="'beta'">
    </mat-form-field>

    <mat-form-field class="col-lg-4 col-sm-12" appearance="fill">
      <mat-label>Amount of Experiments</mat-label>
      <input matInput type="number" placeholder="Amount" [formControlName]="'experimentsAmount'">
    </mat-form-field>

    <mat-form-field class="col-lg-4 col-sm-12" appearance="fill">
      <mat-label>Amount of 'Guessing'</mat-label>
      <input matInput type="number" placeholder="Amount" [formControlName]="'guessingAmount'">
    </mat-form-field>

    <mat-form-field class="col-lg-4 col-sm-12" appearance="fill">
      <mat-label>Amount of States</mat-label>
      <input matInput type="number" placeholder="Amount" [formControlName]="'statesAmount'">
    </mat-form-field>

    <mat-form-field class="col-lg-4 col-sm-12" appearance="fill">
      <mat-label>Amount of User States</mat-label>
      <input matInput type="number" placeholder="Amount" [formControlName]="'userStatesAmount'">
    </mat-form-field>

    <mat-form-field class="col-lg-4 col-sm-12" appearance="fill">
      <mat-label>Amount of Watcher States</mat-label>
      <input matInput type="number" placeholder="Amount" [formControlName]="'watcherStatesAmount'">
    </mat-form-field>

    <div class="col-12">
      <button mat-raised-button (click)="onRunModelClick()">Run Model</button>
    </div>
  </div>

  <div class="row section">
    <div class="col-12 d-flex justify-content-between align-content-center mb-3">
      <h2 class="m-0">Result Table</h2>

      <button mat-raised-button (click)="onClearTable()">Clear Table</button>
    </div>
    <div class="col-12 grid-container">
      <ag-grid-angular
        style="width: 100%; height: 100%"
        class="ag-theme-balham"
        [columnDefs]="columnDefs"
        [defaultColDef]="defaultColDef"
        [rowData]="rowData"
        [rowSelection]="'single'"
        [animateRows]="true"
        (gridSizeChanged)="onGridSizeChanged()"
        (gridReady)="onGridReady($event)">
      </ag-grid-angular>
    </div>
  </div>
</div>
